#myNavBar {
    background-color: #006495;
    height: 100px;
}

#myNavBar a {
    color: white;
    height: 100px;
}

.navbar-brand {
    font-size: 2em;
    line-height: 70px;
}

.navbar-nav > li {
    font-size: 1.1em;
    margin-left: 20px;
    background-color: #004C70;
    height: 50px;
    margin-top: 20px;
    border-radius: 4px;
}

.navbar-nav > li:hover {
    background-color: #0093D1;
}

.navbar-nav > #bookOnlineLink{
    background-color: #F4D00C;
    color: black;
}

.navbar-nav > #bookOnlineLink > a {
    color: #004C70;
    font-weight: bold;
}


