body {
    padding-top: 100px;
}

#myNavBar {
    background-color: #006495;
    height: 100px;
}

#myNavBar a {
    color: white;
    height: 100px;
}

.navbar-brand {
    font-size: 2em;
    line-height: 70px;
}

#mainNavbar > li {
    font-size: 1.1em;
    margin-left: 20px;
    background-color: #004C70;
    height: 50px;
    margin-top: 20px;
    border-radius: 4px;
}

.navbar-nav > li:hover {
    background-color: #0093D1;
}

.navbar-nav > #bookOnlineLink{
    background-color: #F4D00C;
    color: black;
}

.navbar-nav > #bookOnlineLink:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.navbar-nav > #bookOnlineLink > a {
    color: #004C70;
    font-weight: bold;
}

.jumbotron h1 > span{
    color: #1ABC9C;
}

#callToActionBtn:hover {
    background: #1ABC9C;
    color: white;
    font-weight: bold;
}

#callToActionBtn {
    font-weight: bold;
    background: white;
    color: #3d3d3d;
    border: 2px solid #3d3d3d;
}

footer .navbar-nav li{
    margin-right: 20px;
}
